<%- include('header'); -%>
<div style="width: 50%; margin: auto; text-align: start;">
  <h1>Welcome to Food Discovery!</h1>

  <p style="text-align: start; margin: 25px 0% 25px 0%;">
    Founded by Mueatez Ali Al-Soufi, Food Discovery is your go-to site for simple
    and delicious recipes. We believe that good food brings people together, and
    our mission is to help you discover new flavors and culinary techniques, all
    while keeping things easy and accessible. Join us on a journey of taste and
    enjoy a world of recipes made simple. Happy cooking Ali
  </p>
</div>

<%- include('footer'); -%>
